* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.canvas {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.draw-container {
    width: 100%;
    height: 85%;
    border: grey;
    border-radius: 10%;
    border-style: inset;
}

.draggable-line {
    position: absolute;
    width: 150px;
    height: 5px;
    background: brown;
    transform-origin: left center;
    top: 10%;
    left: 40%;
    display: flex;
    transform: rotate(0deg);
    align-items: center;
}

.move-point{
    background: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50% 50%;
}

.move-point:nth-child(2){
    margin-left: auto;
}

.move-point:hover {
    border-style: solid;
    background: gray;
}

.move-point:active {
    border-style: solid;
     background: black;
}

#line2 {
    top: 30%;
    left: 40%;
}

.input-field{
    width: 10vh;
    align-self: center;
    margin-top: 3vh;
    height: 10vh;
    border-style: inset;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}