.draw-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    margin-top: -15%;
    margin-left: -30%;
    border: grey;
    border-width: 5px;
    border-radius: 10%;
    border-style: inset;
}

.draggable-line {
    position: absolute;
    width: 150px;
    height: 5px;
    background: brown;
    transform-origin: left top;
    top: 10%;
    left: 40%;
}

#line2 {
    top: 30%;
    left: 40%;
}