.draw-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    margin-top: -15%;
    margin-left: -30%;
    border: grey;
    border-width: 5px;
    border-radius: 10%;
    border-style: inset;
}

.draggable-line {
    position: absolute;
    width: 150px;
    height: 5px;
    background: brown;
    transform-origin: left center;
    top: 10%;
    left: 40%;
    display: flex;
    transform: rotate(0deg);
}

.rotate-point{
    background: transparent;
    width: 7%;
    height: 0;
    padding-top: 7%;
    border-radius: 50% 50%;
    margin-top: -3%; 
}

.rotate-point:nth-child(2){
    margin-left: auto;
}

.rotate-point:hover {
    border-style: solid;
    background: gray;
}

.rotate-point:active {
    border-style: solid;
     background: black;
}

#line2 {
    top: 30%;
    left: 40%;
}